@charset "UTF-8";

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Thin.eot");
  src: url("../fonts/FiraSans/FiraSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Thin.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Thin.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Thin.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Thin.svg#FiraSans-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ThinItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ThinItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ThinItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ThinItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ThinItalic.svg#FiraSans-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ExtraLight.eot");
  src: url("../fonts/FiraSans/FiraSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ExtraLight.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ExtraLight.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ExtraLight.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ExtraLight.svg#FiraSans-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ExtraLightItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ExtraLightItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ExtraLightItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ExtraLightItalic.svg#FiraSans-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Light.eot");
  src: url("../fonts/FiraSans/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Light.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Light.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Light.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Light.svg#FiraSans-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-LightItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-LightItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-LightItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-LightItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-LightItalic.svg#FiraSans-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Regular.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Regular.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Regular.svg#FiraSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Italic.eot");
  src: url("../fonts/FiraSans/FiraSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Italic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Italic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Italic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Italic.svg#FiraSans-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Medium.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Medium.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Medium.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Medium.svg#FiraSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-MediumItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-MediumItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-MediumItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-MediumItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-MediumItalic.svg#FiraSans-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-SemiBold.eot");
  src: url("../fonts/FiraSans/FiraSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-SemiBold.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-SemiBold.woff") format("woff"), url("../fonts/FiraSans/FiraSans-SemiBold.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-SemiBold.svg#FiraSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-SemiBoldItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-SemiBoldItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-SemiBoldItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-SemiBoldItalic.svg#FiraSans-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Bold.eot");
  src: url("../fonts/FiraSans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Bold.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Bold.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Bold.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Bold.svg#FiraSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-BoldItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-BoldItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-BoldItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-BoldItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-BoldItalic.svg#FiraSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ExtraBold.eot");
  src: url("../fonts/FiraSans/FiraSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ExtraBold.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ExtraBold.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ExtraBold.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ExtraBold.svg#FiraSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-ExtraBoldItalic.svg#FiraSans-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-Black.eot");
  src: url("../fonts/FiraSans/FiraSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-Black.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-Black.woff") format("woff"), url("../fonts/FiraSans/FiraSans-Black.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-Black.svg#FiraSans-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans/FiraSans-BlackItalic.eot");
  src: url("../fonts/FiraSans/FiraSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSans-BlackItalic.woff2") format("woff2"), url("../fonts/FiraSans/FiraSans-BlackItalic.woff") format("woff"), url("../fonts/FiraSans/FiraSans-BlackItalic.ttf") format("truetype"), url("../fonts/FiraSans/FiraSans-BlackItalic.svg#FiraSans-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }
body{
    font-family: 'Fira Sans', sans-serif;}

.page-header{
        color:#2196F3;
    }
        .spacer {
            height: 650px;
        }
        .space-sections{
        	margin-top:60px;
        }

        .bs-docs-header {
           background: #2196F3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2196F3, #03A9F4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2196F3, #03A9F4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            color: #fff;
            overflow: hidden;
        }
        .bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active:focus>a {
       padding-left: 18px;
    font-weight: 700;
    color: #09a5f4;
    background-color: transparent;
    border-left: 2px solid #09a5f4;
}

@media (min-width: 768px){
.bs-docs-header h1 {
      font-size: 40px;
    letter-spacing: 0;
        font-weight: 600;
}
    .bs-docs-header p {
   font-size: 16px;
    letter-spacing: 0px;
    color: #f9f9f9;
            font-weight: 400;
}
}
h1[id]{
    letter-spacing: 0;
        font-weight: 200;
}
.lead {
    font-size: 18px;
    font-weight: 600;
        color: #636363;
}
.note{
        background: #ffeb3b7d;
    padding: 7px;
    border: 1px solid #f5e027;
    border-radius: 4px;
}
.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
       padding-left: 19px;
    color: #04a7f4;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #04a7f4;
    }
    .bs-docs-header img{
        position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 100px;
    opacity: .8;
    }
    @media (max-width: 991px){
    	 .bs-docs-header img{
    	 	display: none;
    	 }
    }

table { 
	width: 100%; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 14px;
    font-weight: 400;
	}
.tbl-style tr td:first-child{
    font-weight: bold;

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}